body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(201, 191, 201);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  border: 2px solid rgb(50, 146, 133);
  width: 20rem;
  height: 2.5rem;
  margin: 1.5rem auto;
  background-color: #055;
  color: white;
}

.parent {
  margin: auto;
  text-align: center;
}

.tabela {
  margin: auto;
  width: 20rem;
  height: 15rem;
  border: 2px solid rgb(226, 213, 213);
  border-collapse: no-collapse;
}


.inputTexto {
  height: 1.7rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
}

.titulo {
  color: rgb(65, 68, 221);
}

.buttonCalcular, .buttonLimpar {
  height: 2rem;
  background-color: #069;
  border-radius: 0.5rem;
  color: white;
  margin: 0.5rem;
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
}

.result-imc {
    padding: 15px;
    box-shadow: 5px 0px 12px 6px rgba(0, 0, 0, 0.3);
    width: 15rem;
    margin: 1.5rem auto;
}

.result-imc-strong {
  color: rgb(66, 110, 175);
}

.magreza {
  background-color: rgba(189, 97, 97, 0.5);
}

.pesoNormal {
  background-color: rgba(92, 89, 89, 0.5);
}

.sobrepeso {
  background-color: rgba(194, 169, 61, 0.5);
}

.obesidade {
  background-color: rgba(142, 197, 125, 0.5);
}

.obesidadeGrave {
  background-color: rgba(92, 66, 126, 0.5);
}

td {
  color: rgb(52, 92, 179);
}